<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Hostel Reservation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <!--Facebook-->
          <a class="nav-link" href="#"> <button type="button" mdbBtn size="lg" color="fb" class="waves-light1" mdbWavesEffect><i class="fab fa-facebook-f left"></i>Facebook</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <button type="button" mdbBtn color="tw" class="waves-light2" mdbWavesEffect><i class="fab fa-twitter left"></i>Twitter</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><button type="button" mdbBtn color="comm" class=" waves-light3" mdbWavesEffect><i class="fas fa-comment left"></i>Whatsapp</button></a>
        </li>
      </ul>
    </div>
  </nav>
