.waves-light1{
    background-color: blue;
    color: white;
    }
    .waves-light2{
        background-color: lightseagreen;
        color: white;
    }
    .waves-light3{
        background-color: limegreen;
        color: white;
    }
.navbar{
    background-color:black !important;
}
.fa-hand-point-down{
    color: white;
}