<div class="banner">
    <div class="banner-title"><p>HOSTEL RESERVATION</p></div>
    <img src="../../assets/img_5terre_wide.jpg" alt="">
  </div>
  <app-header></app-header>
 
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
        <div class="details">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Details</mat-card-title>
                </mat-card-header>
                <img src="../../assets/img_4.jpg" alt="" mat-card-image class="w-100">
                <mat-card-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto enim quod vel minima sunt labore dolorem dolores accusantium facilis id autem nulla, cumque
                        quis modi perspiciatis magnam pariatur natus consequatur.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
            <div class="info">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Info</mat-card-title>
                    </mat-card-header>
                    <p><b>Price</b> : <span>GHC 2000</span></p>
                    <p><b>Maximum Capacity per Room</b> : 6<span></span></p>
                    <p><b>Kitchen</b> : <span>Yes</span></p>

                    <button type="button" mat-raised-button class="btn-danger" data-toggle="modal" data-target="#exampleModal">
                        Make a reservation
                      </button>
                      
                </mat-card>
            </div>
        </div>
    </div>
</div>
  <app-footer></app-footer>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
      <div class="modal-body bg-dark">
        <mat-form-field style="width:100%;" appeaarance="legacy">
            <mat-label>First Name</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field style="width:100%;" appeaarance="legacy">
            <mat-label>Last Name</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <mat-form-field style="width:100%;" appeaarance="legacy">
            <mat-label>Contact</mat-label>
            <input matInput type="tel">
          </mat-form-field>
          <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>