<div class="form-container">
<mat-card>
    <mat-card-title color="primary">Login</mat-card-title>
    <form >
        <mat-form-field style="width: 100%;">
            <mat-label>Account Name</mat-label>
            <input matInput type="text" required>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 100%;">
            <mat-label>Password</mat-label>
            <input matInput type="password" required>
        </mat-form-field>

        <button mat-raised-button color="warn">Login</button>
    </form>
</mat-card>
</div>